@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
body,button{
    color: var(--color-content);
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}