:root {
    --lenght-radius-s: 8px;
    --lenght-radius-base: 16px;

    --length-margin-xs: 8px;
    --length-margin-s: 16px;
    --length-margin-m: 32px;
    --length-margin-l: 64px;
    --length-margin-xl: 96px;

    --length-padding-xxs: 4px;
    --length-padding-xs: 8px;
    --length-padding-s: 12px;
    --length-padding-m: 16px;
    --length-padding-l: 24px;
    --length-padding-xl: 32px;
    --length-padding-xxl: 64px;

    --length-gap-xs: 4px;
    --length-gap-s: 8px;
    --length-gap-m: 16px;
    --length-gap-l: 32px;
    --length-gap-xl: 48px;
    --length-gap-xxl: 64px;

    @media (max-width: 1099px) {
        --length-gap-xs: 4px;
        --length-gap-s: 4px;
        --length-gap-m: 8px;
        --length-gap-l: 16px;
        --length-gap-xl: 32px;
        --length-gap-xxl: 48px;
    }
}
