:root {
    --color-content: hsl(0, 0%, 100%);
    --color-content-soft: hsl(0, 0%, 80%);
    --color-content-softer: hsl(0, 0%, 50%);
    --color-content-softest: hsl(0, 0%, 30%);

    --color-content-lite: hsla(0, 0%, 100%, 80%);
    --color-content-liter: hsla(0, 0%, 100%, 50%);
    --color-content-litest: hsla(0, 0%, 100%, 20%);

    --color-background-0: hsl(226, 18%, 16%);
    --color-background-1: hsl(226, 22%, 20%);
    --color-background-2: hsl(226, 24%, 23%);

    --color-primary: hsl(29, 100%, 57%);
    --color-primary-lite: hsla(29, 100%, 57%, 80%);
    --color-primary-liter: hsla(29, 100%, 57%, 50%);
    --color-primary-litest: hsla(29, 100%, 57%, 25%);
    --color-primary-background: hsl(29, 100%, 45%);

    --gradient: linear-gradient(20deg, #ec7400 0%, #f5cc3f 50%, #ffffff 100%);
}

html, button {
    color: var(--color-content);
}

a {
    color: inherit;
}
